[submodule "LanguageClient"]
	path = LanguageClient
	url = https://github.com/ChimeHQ/LanguageClient.git
[submodule "LanguageServerProtocol"]
	path = LanguageServerProtocol
	url = https://github.com/ChimeHQ/LanguageServerProtocol.git
[submodule "hylo"]
	path = hylo
	url = https://github.com/koliyo/hylo.git
[submodule "BlueSocket"]
	path = BlueSocket
	url = https://github.com/Kitura/BlueSocket.git
[submodule "swift-unisocket"]
	path = swift-unisocket
	url = https://github.com/seznam/swift-unisocket.git
[submodule "Swifty-LLVM"]
	path = Swifty-LLVM
	url = https://github.com/hylo-lang/Swifty-LLVM.git
[submodule "hylo-lsp-vs-code"]
	path = hylo-lsp-vs-code
	url = git@github.com:koliyo/hylo-lsp-vs-code.git
