[submodule "LanguageClient"]
	path = LanguageClient
	url = https://github.com/koliyo/LanguageClient.git
[submodule "LanguageServerProtocol"]
	path = LanguageServerProtocol
	url = https://github.com/koliyo/LanguageServerProtocol.git
[submodule "hylo"]
	path = hylo
	url = https://github.com/koliyo/hylo.git
[submodule "BlueSocket"]
	path = BlueSocket
	url = https://github.com/Kitura/BlueSocket.git
[submodule "swift-unisocket"]
	path = swift-unisocket
	url = https://github.com/seznam/swift-unisocket.git
[submodule "Swifty-LLVM"]
	path = Swifty-LLVM
	url = https://github.com/hylo-lang/Swifty-LLVM.git
[submodule "hylo-lsp-vs-code"]
	path = hylo-lsp-vs-code
	url = git@github.com:koliyo/hylo-lsp-vs-code.git
[submodule "JSONRPC-DataChannel-UniSocket"]
	path = JSONRPC-DataChannel-UniSocket
	url = https://github.com/koliyo/JSONRPC-DataChannel-UniSocket.git
[submodule "JSONRPC-DataChannel-Actor"]
	path = JSONRPC-DataChannel-Actor
	url = https://github.com/koliyo/JSONRPC-DataChannel-Actor.git
[submodule "JSONRPC"]
	path = JSONRPC
	url = https://github.com/ChimeHQ/JSONRPC.git
[submodule "JSONRPC-DataChannel-StdioPipe"]
	path = JSONRPC-DataChannel-StdioPipe
	url = https://github.com/koliyo/JSONRPC-DataChannel-StdioPipe.git
